body{
    background-color: White;
    color: #495057;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Styles of the H2*/
h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
}

/* Styles for the links in the navBar */
#navbarNav li{
    color: #14213d;
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* Styles for the links in the navBar when Hover*/
#navbarNav a:hover{
    color: #FCA311;
    font-weight: 400;
    transition: all 300ms ease-in;
}

/* Styles for the Image Logo in the nav bar*/
#mainNavBar #logo img{
    width: 120px;
    height: 100px;
    border-radius: 20%;
    margin-right: 200px;
}

/* Styles of the About Me Box*/
#aboutMe{
    background-color: #f8f9fa;
    border: 1px solid #adb5bd;
    border-radius: 15px;
    font-weight: 100;
    line-height: 2.0rem;
}

/* Styles of the Text Highlighted in About Me Box*/
#aboutMe .textMark{
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    color: #023e8a;
}

#professionalExperience{
    background-color: #f8f9fa;
    border: 1px solid #adb5bd;
    border-radius: 15px;
    font-weight: 300;
    line-height: 2.0rem;
}

.textMarkProfessional{
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
    color: #023e8a;
    margin: 0px 5px;
}

.textMarkDescription{
    font-weight: 100;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
}