#mainRow {
    height: 90vh;
}

#leftPane {
    background: #0f1018;
    background: linear-gradient(90deg, #0f1018 0%, #242a6e 80%);
    background: -webkit-linear-gradient(90deg, #0f1018 0%, #242a6e 80%);
    background: -moz-linear-gradient(90deg, #0f1018 0%, #242a6e 80%);
}

#loginRow {
    width: 40%;
}

.formStyle {
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border: 2px solid rgba(92, 92, 112, 0.93);

    box-shadow: -21px 21px 5px 2px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -21px 21px 5px 2px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -21px 21px 5px 2px rgba(0, 0, 0, 0.58);
}

.paragraphText{
    color: #001d3d;
    font-size: 1.8em;
    font-family: 'Source Sans Pro', sans-serif; 
}

.paragraphTextSmall{
    color: #343a40;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif; 
}

.paragraphHighlight{
    font-weight: bold;
}

.instructionsText{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    color: white;
    margin-top: 3em;
}

.fieldsText{
    font-weight: 200;
    font-family: 'Inconsolata', monospace;
    font-size: 1.3;
    color: #adb5bd;
}

.buttonStyle{
    background-color:#033f63;
    font-family: 'Inconsolata', monospace;
    color: white;
    margin-top: 40px;
    margin-left: 2rem;
    width: 30%;
}

.alrtField{
    font-family: 'Source Sans Pro', sans-serif; 
    color: #242a6e;
    font-size: 0.9em;
}

.loginCodeClass{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    color: #033f63;
    font-weight: bold;
}

li{
    margin-left: 2em;
    margin-bottom: 1.5em;
    font-family: 'Inconsolata', monospace;
}

/* font-family: 'Source Sans Pro', sans-serif; 
font-family: 'Inconsolata', monospace; */